body{
    font-weight: 400;
    height: 100%;
    padding: 0 0 5px 0;
    margin: auto;

}
header{
    background: #2f662f;
    padding: 5px;    
}

h2{
    color: #211B24;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}


footer {
    color: white;
    font-weight: 400;
    width: 100%;
    margin: 0 auto;    
    font-style: italic;
    font-size: .75em;
    
}

figcaption{
    font-family: 'Noto Sans JP', sans-serif;    
    font-weight: 300;
    font-style: italic;
    font-size: .75em;
}

figure{
    float:left;
}

.name{
    font-family: Lobster Two,cursive,sans-serif;
    font-weight: 700;
    color: #d9c036;
    font-size: 50px;
    text-align: center;
    padding: none;
}

.portrait{
    height: 200px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.biography{
    color: #211B24;
    font-family: 'Noto Sans JP', sans-serif;    
    margin-bottom: 5px;
}

.topic{
    font-family: Lobster Two,cursive,sans-serif;
    font-weight: 400;  
}

.about{
    text-align: center;
    color: #211B24;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

.photo-title{
    color: #211B24;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    text-align: center;
}

#container{
    color: #211B24;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    width: auto;
}

body{
    background: white;
    margin: auto;   
}

#navbar {
    overflow: hidden;
    background: #d9c036;
    text-align: left;    
    border-bottom: 5px solid  #161614;
    padding-top: 0;

}

#navbar ul li{    
    font-weight: 700;
    font-family: Lobster Two,cursive,sans-serif;
    font-size: larger;
    list-style-type: none;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

a{
    text-decoration: none;
    color: #161614;
}

a:hover{
    text-decoration: underline;
}

.current{
    color: #ac832a;
}

#image-gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
}
#information{
    display: grid;
    color: #211B24;
    font-family: 'Noto Sans JP', sans-serif;   
    overflow: auto;
}

#information img{
    height: 200px;
    width: 200px;
}

.float-right{
    float: right;
    width: 200px;
    height: 200px;
    padding-left: 10px;
}

.photo {    
    border-left: 2px solid #d9c036;
    border-right: 2px solid #d9c036;
    border-radius: 30px;
    padding: 10px;
    margin-left: 10px;
}

.photo img{
    height: 200px;
    width: 150px;

}

.photo-content{
    color: #211B24;
    font-family: 'Noto Sans JP', sans-serif;    
    padding-top: 20px;
}

.topic-title{
    background-color: #3f9738;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
